@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --primary:#005A9C; --teal:#0A6B6B; --critical:#D92D20; --warning:#F79009; --info:#16A34A; }

/* helpers */
.textarea-smooth{resize:vertical;}
html,body,#root{height:100%;}
body{font-family:'Inter', ui-sans-serif, system-ui;}
